:root{
    --dark-color:#19283f; 
    --but-color:#fff; 
    /* --main-color:#f81c1c ; */
    --main-color:#407BFF ;

    
--textColor:#ccc;
--maincolor:#000;
--buttonColor:#03a9f4;

--section-padding: 60px;
--section-background: #f6f6f6;
--section-margin: 100px;
--main-duration: 0.3;

}


body {
    max-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}


.card-body{
  padding:10x !important;
}

.car-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5%;
  max-height: 100vh;
}
.car{
  width: 100%;
  height: 100%;
  background: #9e9e9e00;
  margin-bottom: 15px;
}
.car .head{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.car_info{
  background-image: url(unsplash-photo-3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}


.left2 {
  width: 100%;
  height: 99%;
  overflow-y: scroll;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 4px 5px;
  border-radius: 5px;
  background: #f8f9fa;
  padding: 5px 0;
}


/* Start  tours */
.Products  .col_card  {
  height: 320px;
  font-size: 15px;
}
.Products  .col_card .card .im {
  width: 100%;
  height: 50%;
}
.Products  .col_card .card .im img
{
width: 100%;
height: 100%;
}
.Products  .card_sty{
  width: 33%;

}
.detail-bu{
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: space-between; */
  /* flex-wrap: nowrap; */
  align-items: baseline; 
} 
@media (max-width: 767px) {

}
/* End  tours */

/* Start testim */
article{
position: relative;
background: #eeeeee;
    border-radius: 10px;
    padding: 2rem;
    color: #9e9e9e;
    cursor: pointer;
}
.avatar{
width: 100px;
height: 100px;
position: absolute;
top: -2.5rem;
right: 10%;
border-radius: 15px;
}
.avatar img{
width: 100%;
height: 100%;
border-radius: 5px;
}

/* End testim */
